<section class="section2">
    <h2 class="section2_title">Revolutionary editor</h2>
    <p class="section2_description">Aenean cursus imperdiet nisl id fermentum. Aliquam pharetra dui laoreet vulputate dignissim. Sed id metus id quam auctor molestie eget ut augue.</p>
    <div class="section2_flex_bottom">
        <img class="section2_image1" src="images/statistic/statistic1_2.png" alt="">
        <img class="section2_image2" src="images/statistic/statistic3.png" alt="">
        <img class="section2_image_all" src="images/statistic/statistic_all.png" alt="">
    </div>
</section>