<section class="section5">
    <div class="section5_content_container">
        <h3 class="section5_first_title">Fork Subscription Pricing</h3>
        <div class="section5_grid">
            <div class="section5_content section5__first__element">
                <h4 class="section5_second_title">Students</h4>
                <div class="section5_card">
                    <span class="section5_price">$29</span>
                    <span class="section5_for_price">per month</span>
                    <div class="section5_inner_border"></div>
                    <span class="section5_description">Personal License</span>
                    <button class="section5_submit_button" type="submit">purchase</button>
                </div>
            </div>
            <div class="section5_content section5__second__element">
                <h4 class="section5_second_title">professional</h4>
                <div class="section5_card">
                    <span class="section5_price">$59</span>
                    <span class="section5_for_price">per month</span>
                    <div class="section5_inner_border"></div>
                    <span class="section5_description">Professional License Email Support</span>
                    <button class="section5_submit_button" type="submit">purchase</button>
                </div>
            </div>
            <div class="section5_content section5__special__card">
                <h4 class="section5_second_title">agency</h4>
                <div class="section5_card">
                    <span class="section5_price"><span>$</span>99</span>
                    <span class="section5_for_price">per month</span>
                    <div class="section5_inner_border"></div>
                    <span class="section5_description">1-12 Team Members Phone Support</span>
                    <button class="section5_submit_button" type="submit">purchase</button>
                </div>
            </div>
            <div class="section5_content section5__fourth__element">
                <h4 class="section5_second_title">enterprise</h4>
                <div class="section5_card">
                    <span class="section5_price">$159</span>
                    <span class="section5_for_price">per month</span>
                    <div class="section5_inner_border"></div>
                    <span class="section5_description">Unlimited Team Members 24/ 7 Phone Support</span>
                    <button class="section5_submit_button" type="submit">purchase</button>
                </div>
            </div>
        </div>
    </div>
</section>